*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial, sans-serif;
  background:#0b0f19;
  color:white;
  height:100vh;
}

.container{
  display:flex;
  height:100vh;
}

.sidebar{
  width:220px;
  background:#111827;
  padding:20px;
  border-right:1px solid #1f2937;
}

.sidebar h2{
  color:#00ff99;
  margin-bottom:20px;
}

.sidebar button{
  width:100%;
  padding:12px;
  border:none;
  border-radius:10px;
  background:#00ff99;
  cursor:pointer;
  font-weight:bold;
}

.main{
  flex:1;
  display:flex;
  flex-direction:column;
}

.topbar{
  padding:20px;
  background:#111827;
  border-bottom:1px solid #1f2937;
}

.topbar h1{
  color:#00ff99;
}

.chat-box{
  flex:1;
  overflow-y:auto;
  padding:20px;
}

.user-message{
  background:#00ff99;
  color:black;
  padding:12px;
  border-radius:15px;
  margin-bottom:15px;
  max-width:80%;
  margin-left:auto;
}

.bot-message{
  background:#1f2937;
  padding:12px;
  border-radius:15px;
  margin-bottom:15px;
  max-width:80%;
}

.input-area{
  display:flex;
  padding:15px;
  background:#111827;
}

.input-area input{
  flex:1;
  padding:15px;
  border:none;
  border-radius:12px;
  outline:none;
  background:#1f2937;
  color:white;
}

.input-area button{
  margin-left:10px;
  padding:15px 20px;
  border:none;
  border-radius:12px;
  background:#00ff99;
  font-size:18px;
  cursor:pointer;
}

.typing{
  color:#00ff99;
  padding:10px;
}
